vendor
wp
wp-config.php

wp-content/themes/*
!wp-content/themes/hello-elementor-child

wp-content/plugins/*
!wp-content/plugins/portfolioo
wp-content/languages/*
wp-content/uploads
wp-content/updraft
wp-content/ai1wm-backups


wp-content/debug.log



